@media screen and (max-width: 767px) {

    /*---------------------------------- Cabeçalho ---------------------------------------------------*/
    #logo {
        width: 20%;
        margin-left: 39%;
    }

    /*---------------------------------- Geral -------------------------------------------------------*/

    main {
        flex-direction: column;
    }

    /*---------------------------------- Entrada de texto --------------------------------------------*/

    .input-texto {
        margin: 8% 20% 0 10%;
        width: 80%;
        background-color: #1F1D36;
    }

    .input-texto::placeholder {
        font-size: 20px;
    }

    .informacao {
        margin-left: 10%;
    }

    /*---------------------------------- Botões da entrada de texto ----------------------------------*/

    .encriptar {
        margin: 0 0 0 10%;
        width: 35%;
    }

    .desencriptar {
        text-align: center;
        margin: 0 0 0 4%;
        width: 40%;
    }

    /*---------------------------------- Caixa de saída de texto -------------------------------------*/

    .output-box {
        margin: 0 0 0 10%;
        width: 80%;
    }

    .output-texto {
        background-position-x: 30px;
        background-position-y: center;
        width: 80%;
    }

    /*---------------------------------- Botão de Copiar ---------------------------------------------*/

    #copiar {
        margin: 3% 0 4% 0;
    }
}